<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAgeCalculatorService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8032/AgeService/IAgeCalculatorService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAgeCalculatorService"
                contract="IAgeCalculatorService" name="BasicHttpBinding_IAgeCalculatorService" />
        </client>
    </system.serviceModel>
</configuration>