<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAgeCalculatorService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8032/AgeService/AgeService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAgeCalculatorService"
                contract="IAgeCalculatorService" name="WSHttpBinding_IAgeCalculatorService">
                <identity>
                    <userPrincipalName value="ASUS-N551JM-MAR\Martin" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>