<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISnusCalculator" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8050/SnusCalculatorService/SnusCalculatorService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISnusCalculator"
                contract="ISnusCalculator" name="WSHttpBinding_ISnusCalculator">
                <identity>
                    <userPrincipalName value="ASUS-N551JM-MAR\Martin" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>