<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IBmiCalculatorService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8001/BMIService/BMICalculator"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBmiCalculatorService"
                contract="IBmiCalculatorService" name="WSHttpBinding_IBmiCalculatorService">
                <identity>
                    <userPrincipalName value="ASUS-N551JM-MAR\Martin" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>